.git
.next
node_modules

.env
.env.*
!.env.example

public/app
public/download

dist
build
.cache
.tmp-*
*.tsbuildinfo
*.log
logs

.figma
.sonar
.plugins
.opencode-skills
keys

Dockerfile
docker-compose*.yml
README.md
